.navbar navbar-inverse navbar-collapse {
  background: rgba(0,0,0,0.8);
}

.navbar-header {
  padding-top: 5px;
}

#links {
  padding-top: 6px;
}

#icons {
  padding-top: 5px;
}

.content-box-1 {
  background-color: #143445;
  background-image: url("pattern.png");
  background-position: right bottom;
  height: 100%;
  color: white;
  text-align: center;
  margin-top: 0px;
}

#cp1 {
  font-size: 1.75em;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.h1,  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 200px;
    padding-bottom: 75px;
    font-size: 6em;
    color: white;
}
.h3, h3 {
  padding-bottom: 200px;
  color: white;
}
#downarrow {
  color: white;
  margin-bottom: auto;
}

}
.content-box-2 {
  background-color: white;
  height: 600px;
}
.content-box-2 .p {
  margin-left: 100px;
}

#cb2 .row {
  margin-top: 40px;
  margin-bottom: 40px;
}

#picofme {
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  border-color: #C1C1C2;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.content-box-3 {
  background-color: #2a6dac;
  padding-bottom: 50px;
  height: auto;
}
#cb3h2 {
  font-size: 4em;
  text-align:center;
  color: white;
  margin-bottom: 50px;
  padding-top: 50px;
}
#perspage {
  max-width: 75%;
  overflow: auto;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 5px 7px 10px rgba(0,0,0,0.3);
}
#fassup {
  max-width:75%;
  overflow:auto;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 5px 7px 10px rgba(0,0,0,0.3);
}

.content-box-4 {
  background-color: #ABA79D;
  height: 600px;
  margin-top: -50px;
}
#formname {
  text-decoration: none;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  font-size: 4em;
}

.form-horizontal {
  color: white;
  font-size: 18px;
  margin:auto !important;
}

#formsubmitbtn {
  font-size: 1.5em;
}

@media only screen and (max-width: 425px) {
  #icons {
    position:absolute;
    top: 40px;
    right: 25px;
  }
}
@media only screen and (max-width: 768px) {
  #cp1 {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }


}
